/*
|_ Code write by Tanveer Khan _|

|_ Custom Pading Classes _|
*/
body{
	font-family: 'Josefin Sans', sans-serif; font-weight: 400;
}
.hide{display: none;}
.show{display: block;}
.container .top-head-bgimg img.img-fluid{width: 100%;max-height:250px;}
.strong-title{font-family: 'Josefin Sans', sans-serif;font-weight: 700;}
.gray-color{color:#524c4cd4;}
.border-round{border-radius: 5px;}
.text-color{color: #123c69}
.desc-text-color{color: #8f9294e8}
.text-color-red{color:#d82508;}
.bg-color{background-color: #123c69;}
.bg-btn-color{background-color: #d82508}
.border-color{border:2px solid #123c69;}
.col-md-3.text-center.phone-call-time{display: inline-flex; letter-spacing: 1.5px;color: #676262;}
/*.head-call{font-weight: bold;font-size: 13px;letter-spacing: 1px;color: #676262;text-align: center;padding: 5px;}*/
nav.nav-color{background-color: #123c69;}
nav.navbar{font-size: medium;font-weight: 500;}
.nav-item a:hover{}
.carousel .carousel-control-next-icon{border: 3px solid #d82508;padding: 16px;border-radius: 19px;}
.carousel .carousel-control-prev-icon{border: 3px solid #d82508;padding: 16px;border-radius: 19px;}
.carousel-caption{top:20%;}
.carousel-caption p{font-size:25px;letter-spacing: 1.5px;}
.carousel.slide.carousel-fade .carousel-indicators{display: none;}
.card.booking-ad-card{display: block;position: absolute;margin: 2em;}
.view.desti-crd div.mask-txt{color: #fff;margin-top: 2em;padding: 15px;}
.view.desti-crd{padding: 10px}
span.price-tag{font-weight: bold;font-size: larger;}
.card{border-radius: 5px;border:2px solid #f2f2f2;}
.owl-nav{text-align: center;position: initial !important;padding: 10px;}
.owl-next, .owl-prev{color: #d82508 !important; border:2px solid #d82508 !important;}
.owl-next:hover, .owl-prev:hover{background-color: #d82508 !important;color: #fff !important;}
.owl-carousel.owl-card-img-slider .owl-nav{position: absolute !important;}
.owl-carousel.owl-card-img-slider .owl-next, 
.owl-carousel.owl-card-img-slider .owl-prev{color: #fff !important; border:1px solid #fff !important;width: 30px;height: 32px;line-height: 36px;font-size: 20px;}
.owl-carousel.owl-card-img-slider .owl-next:hover, 
.owl-carousel.owl-card-img-slider .owl-prev:hover{background-color: #fff !important;color: #d82508 !important;}
.carousel-caption .h3-responsive{font-size: 50px;}
/*-----------------------  MIXTI UP HOTELS -----------------------*/
.container.mixituphotels img{width: 100%;max-height:300px;border-radius: 6px;}
.container.mixituphotels{border-radius: 5px;border:2px solid #f2f2f2;padding: 15px;margin-top: 20px;}
/*----------------------- Preloader -----------------------*/
body.preloader-site {overflow: hidden;}
.preloader-wrapper {height: 100%;width: 100%;background: #FFF;position: fixed;top: 0;left: 0;z-index: 9999999;}
.preloader-wrapper .preloader {position: absolute;top: 50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);width: 120px;}
.preloader-wrapper .preloader img{width: 80px;height: 80px;}
/*---------------------- Add Box --------------------------*/
.container.booking-ad div.booking-ad-row{display: inline-flex; border-radius: 6px;border:1px solid #f2f2f2;}
.container.booking-ad div.booking-ad-row{margin: 0px;}
.container.booking-ad img{width: 100%;max-height:350px;}
.container.booking-ad .col-12.col-md-8 p{margin-top: 2em;}
/*---------------------- Add Box --------------------------*/
.checked {color: #d82508;font-size: 10px;}
.unchecked {color: #4a4242ad;font-size: 10px;}
.card-body{padding: 10px;}
.card .card-body .card-text{height: 40px;}
.breadcrumb-item{font-size: 12px;}
/*---------------------- Sub page --------------------------*/
.rgba-teal-strong, .rgba-teal-strong:after{background-color: rgba(0, 150, 136, 0.3)}
.container.top-head-img img{width: 100%;max-height: 250px;}
.navbar-nav.sub-navbar li{display: contents;}
/*---------------------- About us page --------------------------*/
.aboutUs-section .view.about-head-bgimg img{width: 100%;max-height:250px;}
.row.about-safty img{max-height: 160px;max-width: 160px;}
/*---------------------- Contact us page --------------------------*/
.container.contact-page-sec .contact-head-bgimg img{width: 100%;max-height:250px;}
/*---------------------- Terms & Condition page --------------------------*/
.terms-condition .top-text-head{background-color: #eceaea;padding: 10px 20px 10px 20px;border-radius: 5px;top: -12px;}
/*---------------------- Park & passes page --------------------------*/
.row .whatsinclude-sub{display: inline-flex;}
.row .whatsinclude-sub div{display: table-column;background-color: #cbcbcb;margin: 5px 10px 4px 13px;padding: 5px;border-radius: 4px;text-align: center;}
.park-main-image img{width: 100% !important; max-height: 290px;}
.page-footer .text-strong.footer-links{background: white;color: #010101;padding: 5px;border-radius: 3px;text-align: center;}

/*-------------------- Back to Top button--------------------*/
#bottim-to-top-btn {display: inline-block;background-color: #FF9800;width: 50px;height: 50px;text-align: center;border-radius: 4px;position: fixed;bottom: 30px;right: 30px;transition: background-color .3s, opacity .5s, visibility .5s;opacity: 0;visibility: hidden;z-index: 1000;}
#bottim-to-top-btn::after {font-weight: normal;font-style: normal;font-size: 2em;line-height: 50px;color: #fff;}
#bottim-to-top-btn:hover {cursor: pointer;background-color: #333;}
#bottim-to-top-btn:active {background-color: #555;}
#bottim-to-top-btn.show {opacity: 1;visibility: visible;}

/*-----------  USE FILTER  --------------*/
.container.filter-container div.hotel-filter-box{background: white;border: 2px solid #f2f2f2;border-radius: 7px; padding: 20px 20px 0px 20px;}
.hotel-filter-box ul.nav.nav-pills.mb-3.rating.font-weight-bold li.nav-item{border-radius: 6px;border:1px solid #123c69;}
.hotel-filter-box ul.nav.nav-pills.mb-3.rating.font-weight-bold li.nav-item a{color: #123c69;}
.hotel-filter-box ul.nav.nav-pills.mb-3.rating.font-weight-bold li.nav-item a.bg-color{color: #f2f2f2;}

/*-----------  Get a Quote Stepper  -------------*/
.stepper-horizontal{flex-direction:row !important}
.stepper-horizontal li:hover{background-color: unset;}
ul.stepper li a{padding: 0px;}
ul.stepper li.active a .circle{background-color: #fff !important;}
ul.stepper li a .circle{padding:15px!important;width: auto;height: auto;color: #0000003d !important;font-size: 30px !important}
.stepper-horizontal li:not(:last-child):after{height: 3px;}
.stepper-horizontal li:not(:first-child):before{height: 3px;}	
.stepper-horizontal li.active:not(:first-child):before{height: 3px;}
ul.stepper li.completed a .circle{background-color: #123c69 !important; color: #fff !important;}
ul.stepper .stepper-horizontal li{display: inline-flex !important;}
label.changeInfo i.fa{border-radius: 50% !important; border:1px solid grey !important;padding: 4px !important; font-size: 15px;}

/*------------  Select 2  ---------------*/
.select2-container{display: block;}
.select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 39px !important;}
.select2-container .select2-selection--single{height: 40px !important;}