
@media (min-width: 1200px) {
	.h3-responsive{font-size:40px;font-weight: 500;}
	.carousel-caption p{font-size:21px;letter-spacing: 1.5px;}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.h3-responsive{font-size:24px;font-weight: 500;}
	.carousel-caption p{font-size:19px;letter-spacing: 1.5px;}
}
@media (min-width: 768px) and (max-width: 991px) {
	/*NAV BAR*/
	.container.booking-ad img{width: 100%;height:350px;}
	.carousel-caption{top:10%;}
	.h3-responsive{font-size:19px;font-weight: 500;}
	.carousel-caption p{font-size:17px;letter-spacing: 1.5px;}
	.container.booking-ad .col-12.col-md-8 p{margin-top: 0;}
	.container.terms-condition img{height: auto;width: 100%;}
}
@media (max-width: 767px){
	/*ul.stepper li a .circle i.fa{width: 3em;height: 3em;padding: 4px !important}*/
}

@media (min-width: 576px) and (max-width: 767px) {
	/*NAV BAR*/
	.carousel-caption{top:5%;}
	.h3-responsive{font-size:16px;font-weight: 500;}
	.carousel-caption p{font-size:15px;letter-spacing: 1.5px;}
	/*Expore florida home*/
	.container.destination .h3.desti-expo-flo-title{font-size: 20px;}
	.container.destination span.price-tag{font-size: 15px;font-weight: normal;}
	.view.desti-crd div.mask-txt{margin-top: 1em;}
	.container.booking-ad .col-12.col-md-8 p.white-text.h2{font-size: 25px;}
	.container.booking-ad .col-12.col-md-8 p.white-text.h6{font-size: 15px;}
	.container.booking-ad .col-12.col-md-8 p{margin-top: 0;}
	.container.terms-condition img{height: 134px;width: 100%;}
}

@media (max-width: 575px) {
	/*NAV BAR*/
	.carousel-caption{top:0%;}
	.h3-responsive{font-size:14px;font-weight: 500;letter-spacing: 1px;}
	.carousel-caption p{font-size:13px;letter-spacing: 1.5px;}
	/*Expore florida home*/
	.container.destination .h3.desti-expo-flo-title{font-size: 17px;padding: 0px;}
	.container.destination span.price-tag{font-size: 13px;font-weight: normal;padding: 0px;}
	.view.desti-crd div.mask-txt{margin-top: 1em;padding: 3px;}
	.container.booking-ad .col-12.col-md-8 p.white-text.h2{font-size: 15px;}
	.container.booking-ad .col-12.col-md-8 p.white-text.h6{font-size: 10px;}
	.container.booking-ad .col-12.col-md-8 p{margin-top: 0;}
	.container.terms-condition img{height: 134px;width: 100%;}
	.container .top-head-bgimg img.img-fluid { width: 100%; height: 160px; }
}
@media (max-width: 430px) {
	.container.destination .h3.desti-expo-flo-title{font-size: 14px;padding: 0px;}
	.container.destination span.price-tag{font-size: 10px;font-weight: normal;padding: 0px;}
	.container .top-head-bgimg img.img-fluid{ width: 100%; height: 160px; }
}